<div class="sidebar">
	<a class="btn btn-primary" href={{path('question_name')}}>
		<i class="fa-solid fa-question"></i>
		Poser une question
	</a>
	<ul>
		<li><a href="/"><i class="fa-solid fa-house"></i>Liste de questions</a></li>
		<li><a href=""><i class="fa-solid fa-pen"></i>Mes questions</a></li>
		<li><a href=""><i class="fa-solid fa-puzzle-piece"></i>Mes réponses</a></li>
	</ul>
</div>
